#content{margin-top:10px;}

ul{list-style-type: none;}
h4{margin-top:10px;margin-bottom:0;}
h4 span{margin-right:30px;}
h4 .bldg{}
h4 .room{}
h4 .room-type{display:none;}

#content .classified h2{color:red;}
#content .spn h2{color:blue;}

#sourceEquipment,#targetEquipment{margin-bottom:20px;}
.vactButton{display:inline-block;width:110px;margin:0 10px 10px 0;text-align:center;border:1px solid #000;}
.vactButton img{width:75px;margin-bottom:5px;margin-top:10px;}
.vactButton .display,.vactButton .camera-controls{display:none;}
.vactButton.displaying .display{display:block;}
.vactButton select{margin-top:24px;}
.vactButton.displaying select{margin-top:0;}
img.document_camera,img.desktop,img.video_camera,img.lcd,img.plasma,img.projector{height:70px;width:85px;}

.vactButton.displaying .camera-controls{display:block;}
.camera-controls{height:50px}
.camera-controls div span{display:inline;}
.camera-controls .pan{display:inline-block;width:60%;}
.camera-controls .zoom{display:inline-block;width:30%;}
.camera-controls .pan .left{left:5px;top:13px}
.camera-controls .pan .up{left:0;top:0;}
.camera-controls .pan .down{left:-19px;top:27px;}
.camera-controls .pan .right{left:15px;top:-11px;}
.camera-controls .zoom .in{left:0;top:4px;}
.camera-controls .zoom .out{left:0;top:4px;}